.mdl-layout__content {
  background: #E1FFE1;
}
.page-content {
  padding: 15px;
  white-space: nowrap;
}
.page-content .mdl-card {
  display: block;
  width: 300px;
  height: 400px;
  min-height: 50px;
  margin: 15px;
  white-space: normal;
}
#page-content-1, #page-content-2 { width: 50%; display: inline-block; vertical-align: top;  }
@media screen and (max-width: 720px) {
  #page-content-1, #page-content-2 {
    display: block;
    width: auto;
  }
}
